# Data Wrangling Section
## EDA and Cleaning of Data
I have two datasets I'm using, one which contains three sections of information. The goal is to end up with 3 separate sets of data. I will upload each .csv file, separate and clean them, and then perform EDA to discover potential insights.

## Step 1: Upload, separate, save

In [1]:
# Import necessary modules
import pandas as pd
import chardet
import matplotlib.pyplot as plt

For some reason, only the PTI/Mortgage file was properly reading in. After further research, it seems that the Median Income file was corrupted, possibly with non UTF-8 characters. I researched online how to fix this issue, and the file properly read in. See code below.

In [2]:
# Read in working file
wide = pd.read_csv('Desktop/Capstone_Project_Data/Affordability_Wide_2018Q4_Public.csv')

In [3]:
# Read in corrupted file
# https://www.quora.com/How-do-I-fix-a-Unicode-error-while-reading-a-CSV-file-with-a-pandas-library-in-Python-3-6

with open(r'/Users/scoredy/Desktop/Capstone_Project_Data/Affordability_Income_2018Q4.csv', 'rb') as f:
    result = chardet.detect(f.read())
income = pd.read_csv(r'/Users/scoredy/Desktop/Capstone_Project_Data/Affordability_Income_2018Q4.csv', encoding=result['encoding'])

Inspect the wide dataframe, remove unnecessary info, and save as separate dataframes

In [4]:
wide.head()

,RegionID,RegionName,SizeRank,Index,HistoricAverage_1985thru1999,1979-03,1979-06,1979-09,1979-12,1980-03,...,2016-09,2016-12,2017-03,2017-06,2017-09,2017-12,2018-03,2018-06,2018-09,2018-12
0,102001,United States,0,Price To Income,2.786094,2.926690,2.962811,2.965507,2.970166,2.957911,...,3.297768,3.319031,3.334691,3.357272,3.371671,3.383362,3.435770,3.472983,3.501696,3.542629
1,394913,"New York, NY",1,Price To Income,3.912069,2.942594,2.971022,2.981365,2.976273,3.021777,...,5.298151,5.325995,5.327888,5.388576,5.401254,5.414706,5.468421,5.482805,5.477894,5.509601
2,753899,"Los Angeles-Long Beach-Anaheim, CA",2,Price To Income,4.479608,4.026750,4.148507,4.215555,4.285801,4.316137,...,8.631374,8.685383,8.671194,8.659377,8.714268,8.787902,8.898335,8.893782,8.879713,8.857709
3,394463,"Chicago, IL",3,Price To Income,2.958478,3.035758,3.045651,2.984501,2.973171,2.895068,...,3.026700,3.045975,3.055278,3.063627,3.072588,3.088122,3.131229,3.132547,3.123981,3.133726
4,394514,"Dallas-Fort Worth, TX",4,Price To Income,3.068857,3.887457,4.025835,4.101038,4.130605,4.135414,...,2.937796,2.997831,3.036913,3.076033,3.110652,3.148341,3.261610,3.314444,3.346594,3.420982

In [5]:
wide.Index.describe()

count                1043
unique                  3
top       Price To Income
freq                  370
Name: Index, dtype: object

In [6]:
# From above, it seems there are 3 unique  values - let's see what values they are
wide.Index.value_counts()

Price To Income           370
Mortgage Affordability    370
Rent Affordability        303
Name: Index, dtype: int64

In [7]:
# 'Price To Income' and 'Mortgage Affordability' are the two descrpitors I need to separate
# Going to create two new df to encompass these - should each have 370 entries each
pti = wide[wide.Index == 'Price To Income'].reset_index()
mortgage = wide[wide.Index == 'Mortgage Affordability'].reset_index()

## Step 2: Inspect and clean all 3 dataframes: income, pti, and mortgage
Start with income df

In [8]:
income.describe()

,RegionID,SizeRank,1979-03,1979-06,1979-09,1979-12,1980-03,1980-06,1980-09,1980-12,...,2016-09,2016-12,2017-03,2017-06,2017-09,2017-12,2018-03,2018-06,2018-09,2018-12
count,934.000000,934.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,...,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000
mean,421158.204497,466.500000,15752.660759,16057.733586,16376.918927,16686.666754,17065.960236,17356.238665,17584.245707,17790.123508,...,54505.689921,54875.245393,55430.101414,55960.331047,56452.003586,56882.330157,57300.570014,57718.809871,58137.049729,58555.289586
std,95976.022904,269.766875,2396.717700,2443.772105,2488.561923,2536.150289,2606.530962,2664.823462,2725.946506,2798.754494,...,10285.648632,10426.495651,10611.134860,10814.075844,11017.856731,11227.804549,11330.239515,11432.835621,11535.588566,11638.494197
min,102001.000000,0.000000,10726.000000,10911.100000,11247.270000,11503.600000,11754.170000,11993.670000,12226.950000,12409.510000,...,34682.010000,34895.570000,35194.460000,35428.670000,35673.680000,35875.200000,36104.279257,36333.358514,36562.437771,36791.517028
25%,394550.250000,233.250000,14092.477500,14380.897500,14718.507500,14991.237500,15267.665000,15579.115000,15759.737500,15866.087500,...,47731.485000,47884.932500,48275.982500,48790.420000,49322.582500,49525.927500,49858.722789,50175.073078,50491.423366,50807.773655
50%,394809.500000,466.500000,15575.635000,15916.245000,16213.680000,16502.270000,16842.490000,17095.080000,17265.800000,17451.870000,...,52590.165000,53035.245000,53376.150000,53934.835000,54376.530000,54400.155000,54793.867096,55187.579192,55581.291288,55962.065107
75%,395064.500000,699.750000,17336.695000,17711.447500,18077.687500,18376.837500,18758.410000,19091.230000,19291.957500,19546.305000,...,59112.405000,59685.400000,60384.102500,61105.120000,61839.217500,62390.080000,62870.295932,63343.285176,63806.293436,64299.581248
max,786265.000000,933.000000,26197.160000,26786.470000,27393.020000,27906.240000,28673.520000,29501.660000,30519.620000,31944.240000,...,110556.660000,112358.400000,114456.820000,116570.370000,118454.770000,120414.690000,121388.698967,122362.707935,123336.716902,124310.725869

It looks like there are 934 entries, but most rows only have a count of 382. I suspect something is happening here, or there are many rows that have all or mostly NaN values. 

I'm going to look through rows that have all but 3 NaN values, so the "counted" amount will be only 3.

In [9]:
# Look through rows that have all but 3 NaN values
counted = income.apply(lambda x: x.count(), axis=1)

In [10]:
# Make Counted column with those values
income['Counted'] = counted
income.tail()

,RegionID,RegionName,SizeRank,1979-03,1979-06,1979-09,1979-12,1980-03,1980-06,1980-09,...,2016-12,2017-03,2017-06,2017-09,2017-12,2018-03,2018-06,2018-09,2018-12,Counted
929,394767,"Lamesa, TX",929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
930,753874,"Craig, CO",930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
931,394968,"Pecos, TX",931,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
932,395188,"Vernon, TX",932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
933,394743,"Ketchikan, AK",933,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3

In [11]:
# Get rid of rows with all NaN values and save as new df
income_new = income[income.Counted > 3].reset_index()
income_new.tail()

,index,RegionID,RegionName,SizeRank,1979-03,1979-06,1979-09,1979-12,1980-03,1980-06,...,2016-12,2017-03,2017-06,2017-09,2017-12,2018-03,2018-06,2018-09,2018-12,Counted
377,456,394489,"Columbus, IN",456,18949.12,19301.27,19685.85,20079.76,20543.30,20846.30,...,59804.53,60603.54,61283.24,61854.25,62390.97,62852.226198,63313.482397,63774.738595,64235.994794,163
378,459,394445,"Casper, WY",459,21962.63,22433.77,23114.04,23957.56,24835.12,25601.92,...,59004.07,59452.40,60165.67,60927.64,61638.29,62136.869095,62635.448190,63134.027286,63632.606381,163
379,512,395199,"Walla Walla, WA",512,15092.45,15513.87,15762.96,15738.86,15757.61,15722.60,...,52633.97,53278.18,53923.35,54425.38,55000.97,55445.861217,55890.752434,56335.643651,56780.534868,163
380,525,394787,"Lewiston, ID",525,15389.83,15728.34,15828.83,15723.02,15740.12,15625.26,...,53198.41,54112.23,55120.84,55603.19,55615.27,56065.130160,56514.990320,56964.850480,57414.710640,163
381,552,394444,"Carson City, NV",552,18248.86,18481.70,18794.85,19178.59,19723.67,20143.51,...,51622.53,52229.23,52534.59,53168.78,53510.82,53943.657709,54376.495418,54809.333126,55242.170835,163

In [12]:
# Drop the 'index' and 'Counted' columns
income_new = income_new.drop(['index', 'Counted'], axis=1)

I personally hate how these years are stacked. I want to transform the data so we have a column for year and a column for quarter, then make a fourth table with the summary detail that's similar among them all.

In [14]:
income_info = income_new.iloc[:,0:3]

In [15]:
income_info.head()

   RegionID                          RegionName  SizeRank
0    102001                       United States         0
1    394913                        New York, NY         1
2    753899  Los Angeles-Long Beach-Anaheim, CA         2
3    394463                         Chicago, IL         3
4    394514               Dallas-Fort Worth, TX         4

In [16]:
income_data = income_new.drop(['RegionID', 'SizeRank'], axis=1)

In [18]:
income_data = income_data.set_index('RegionName').T.rename_axis('YearQtr').rename_axis(None, 1).reset_index()

In [19]:
income_data.head()

,YearQtr,United States,"New York, NY","Los Angeles-Long Beach-Anaheim, CA","Chicago, IL","Dallas-Fort Worth, TX","Philadelphia, PA","Houston, TX","Washington, DC","Miami-Fort Lauderdale, FL",...,"Grants Pass, OR","Grand Island, NE","Danville, IL","Great Falls, MT","Hinesville, GA","Columbus, IN","Casper, WY","Walla Walla, WA","Lewiston, ID","Carson City, NV"
0,1979-03,16346.86,17536.34,17913.83,20056.35,18147.33,17530.66,20209.30,22611.34,15673.84,...,12689.42,15623.14,15719.82,15854.94,11142.75,18949.12,21962.63,15092.45,15389.83,18248.86
1,1979-06,16675.92,17888.75,18285.02,20460.12,18458.77,17869.90,20569.30,23095.61,15963.28,...,13003.88,16037.15,16056.81,16024.79,11333.70,19301.27,22433.77,15513.87,15728.34,18481.70
2,1979-09,17015.62,18255.17,18746.27,20910.06,18899.16,18248.18,21125.56,23441.83,16269.95,...,13234.73,16226.53,16391.74,16015.16,11663.90,19685.85,23114.04,15762.96,15828.83,18794.85
3,1979-12,17325.61,18614.93,19213.79,21267.37,19454.80,18589.76,21866.45,23673.91,16509.61,...,13371.97,16610.36,16603.64,16305.12,12113.35,20079.76,23957.56,15738.86,15723.02,19178.59
4,1980-03,17700.06,19075.72,19782.36,21678.20,20069.21,19067.80,22677.02,24067.25,16908.27,...,13520.85,16841.63,16822.21,16972.48,12588.44,20543.30,24835.12,15757.61,15740.12,19723.67

In [20]:
# Split up column with Year and Quarter within it
new = income_data['YearQtr'].str.split('-', n=1, expand=True)

In [21]:
# Add Year and Qtr columns (separated from before)
income_data['Year'] = new[0]
income_data['Qtr'] = new[1]

In [22]:
income_data.head()

,YearQtr,United States,"New York, NY","Los Angeles-Long Beach-Anaheim, CA","Chicago, IL","Dallas-Fort Worth, TX","Philadelphia, PA","Houston, TX","Washington, DC","Miami-Fort Lauderdale, FL",...,"Danville, IL","Great Falls, MT","Hinesville, GA","Columbus, IN","Casper, WY","Walla Walla, WA","Lewiston, ID","Carson City, NV",Year,Qtr
0,1979-03,16346.86,17536.34,17913.83,20056.35,18147.33,17530.66,20209.30,22611.34,15673.84,...,15719.82,15854.94,11142.75,18949.12,21962.63,15092.45,15389.83,18248.86,1979,03
1,1979-06,16675.92,17888.75,18285.02,20460.12,18458.77,17869.90,20569.30,23095.61,15963.28,...,16056.81,16024.79,11333.70,19301.27,22433.77,15513.87,15728.34,18481.70,1979,06
2,1979-09,17015.62,18255.17,18746.27,20910.06,18899.16,18248.18,21125.56,23441.83,16269.95,...,16391.74,16015.16,11663.90,19685.85,23114.04,15762.96,15828.83,18794.85,1979,09
3,1979-12,17325.61,18614.93,19213.79,21267.37,19454.80,18589.76,21866.45,23673.91,16509.61,...,16603.64,16305.12,12113.35,20079.76,23957.56,15738.86,15723.02,19178.59,1979,12
4,1980-03,17700.06,19075.72,19782.36,21678.20,20069.21,19067.80,22677.02,24067.25,16908.27,...,16822.21,16972.48,12588.44,20543.30,24835.12,15757.61,15740.12,19723.67,1980,03

In [23]:
# Make my own dataframe to merge onto for the quarters
num = ['03', '06', '09', '12']
qtr = ['Q1', 'Q2', 'Q3', 'Q4']

In [24]:
qtr_list = pd.DataFrame({'Number':num, 'Quarter':qtr})

In [26]:
# Merge the two df to fill in Qtr correctly
income_data = pd.merge(income_data, qtr_list, how='left', left_on='Qtr', right_on='Number')

In [27]:
income_data.head(50)

,YearQtr,United States,"New York, NY","Los Angeles-Long Beach-Anaheim, CA","Chicago, IL","Dallas-Fort Worth, TX","Philadelphia, PA","Houston, TX","Washington, DC","Miami-Fort Lauderdale, FL",...,"Hinesville, GA","Columbus, IN","Casper, WY","Walla Walla, WA","Lewiston, ID","Carson City, NV",Year,Qtr,Number,Quarter
0,1979-03,16346.86,17536.34,17913.83,20056.35,18147.33,17530.66,20209.30,22611.34,15673.84,...,11142.75,18949.12,21962.63,15092.45,15389.83,18248.86,1979,03,03,Q1
1,1979-06,16675.92,17888.75,18285.02,20460.12,18458.77,17869.90,20569.30,23095.61,15963.28,...,11333.70,19301.27,22433.77,15513.87,15728.34,18481.70,1979,06,06,Q2
2,1979-09,17015.62,18255.17,18746.27,20910.06,18899.16,18248.18,21125.56,23441.83,16269.95,...,11663.90,19685.85,23114.04,15762.96,15828.83,18794.85,1979,09,09,Q3
3,1979-12,17325.61,18614.93,19213.79,21267.37,19454.80,18589.76,21866.45,23673.91,16509.61,...,12113.35,20079.76,23957.56,15738.86,15723.02,19178.59,1979,12,12,Q4
4,1980-03,17700.06,19075.72,19782.36,21678.20,20069.21,19067.80,22677.02,24067.25,16908.27,...,12588.44,20543.30,24835.12,15757.61,15740.12,19723.67,1980,03,03,Q1
5,1980-06,18003.37,19493.98,20306.08,21848.90,20608.07,19428.49,23398.85,24372.23,17286.72,...,13046.29,20846.30,25601.92,15722.60,15625.26,20143.51,1980,06,06,Q2
6,1980-09,18309.93,19894.97,20737.44,21984.03,21021.31,19742.03,23957.78,24646.77,17617.68,...,13362.09,20902.87,26235.90,16012.59,15815.78,20470.61,1980,09,09,Q3
7,1980-12,18655.45,20320.32,21091.91,22067.13,21363.17,20054.82,24414.05,24997.88,17835.34,...,13594.82,20808.85,26815.41,16634.88,16313.63,20605.79,1980,12,12,Q4
8,1981-03,19069.98,20744.95,21468.44,22395.99,21890.50,20449.59,25074.81,25485.86,18099.03,...,13886.20,20889.68,27317.39,17220.39,16845.15,20869.73,1981,03,03,Q1
9,1981-06,19406.03,21122.72,21765.04,22598.73,22279.25,20759.86,25583.85,25835.85,18315.78,...,14138.44,20803.88,27553.82,17750.92,17226.27,21054.24,1981,06,06,Q2
10,1981-09,19799.97,21558.15,22166.95,22927.60,22798.04,21121.83,26096.55,26363.63,18679.87,...,14454.12,20933.10,27629.75,18048.00,17541.78,21344.44,1981,09,09,Q3
11,1981-12,20170.18,22022.97,22582.74,23205.31,23338.37,21468.37,26476.12,26843.54,19034.28,...,14738.78,21222.72,27727.52,18079.41,17781.78,21668.84,1981,12,12,Q4
12,1982-03,20502.31,22477.92,22992.00,23395.25,23839.42,21832.20,26805.28,27494.29,19358.23,...,15031.94,21485.43,27665.84,18063.50,17986.58,21917.64,1982,03,03,Q1
13,1982-06,20700.73,22789.32,23190.23,23494.67,24047.31,22045.81,26812.61,28009.10,19478.88,...,15234.86,21640.25,27396.97,17924.93,18106.35,22006.70,1982,06,06,Q2
14,1982-09,20881.75,23220.66,23452.38,23725.00,24270.29,22420.07,26725.37,28619.49,19675.66,...,15472.53,21988.62,27049.71,17905.10,18126.76,22098.10,1982,09,09,Q3
15,1982-12,21040.41,23734.20,23705.82,24151.56,24708.35,22866.83,26756.50,29143.68,19822.27,...,15713.65,22534.30,26835.80,17992.26,18000.84,22145.26,1982,12,12,Q4
16,1983-03,21193.80,24248.75,24117.49,24435.35,25201.78,23316.24,26851.95,29637.23,20207.45,...,15967.66,23020.83,26535.47,18167.93,18071.75,22252.08,1983,03,03,Q1
17,1983-06,21375.66,24737.60,24585.77,24714.86,25762.16,23618.59,27015.83,30067.59,20616.15,...,16303.74,23559.98,26307.57,18354.62,18092.23,22435.88,1983,06,06,Q2
18,1983-09,21630.27,25165.92,25030.31,24885.12,26216.09,23910.14,27043.83,30473.15,21046.32,...,16564.53,23970.85,26101.93,18795.46,18473.64,22654.45,1983,09,09,Q3
19,1983-12,22021.07,25623.99,25389.37,25078.73,26663.05,24243.11,27045.44,30930.28,21354.46,...,16743.74,24347.20,25843.41,19588.40,19261.08,23001.79,1983,12,12,Q4
20,1984-03,22488.88,26116.08,25864.12,25442.90,27126.97,24857.09,27048.92,31596.24,21701.21,...,16991.11,24924.70,25596.20,20370.49,20090.59,23288.36,1984,03,03,Q1
21,1984-06,22990.99,26666.66,26337.42,25870.31,27664.87,25408.60,27147.82,32220.29,22058.16,...,17252.41,25484.32,25450.13,21187.88,21053.98,23629.02,1984,06,06,Q2
22,1984-09,23432.67,27269.79,26881.19,26378.72,28132.57,25793.78,27244.70,32959.04,22430.30,...,17548.95,25999.33,25407.45,21251.60,21315.82,23915.46,1984,09,09,Q3
23,1984-12,23771.43,27970.76,27419.67,26896.37,28570.68,25994.73,27381.78,33637.69,22830.63,...,17837.10,26401.67,25604.22,20592.70,20888.66,24239.99,1984,12,12,Q4
24,1985-03,24066.18,28541.66,27979.61,27309.91,28922.35,26437.82,27414.99,34361.55,23212.81,...,18077.45,26801.44,25534.00,19993.44,20469.81,24614.26,1985,03,03,Q1
25,1985-06,24283.44,28989.64,28356.13,27572.40,29134.07,26997.37,27342.50,34822.46,23533.55,...,18265.44,27192.07,25392.30,19365.87,19977.96,24924.46,1985,06,06,Q2
26,1985-09,24553.00,29415.56,28777.79,27837.85,29357.44,27677.92,27317.39,35408.99,23838.09,...,18505.81,27409.49,25196.04,19384.59,19855.16,25292.99,1985,09,09,Q3
27,1985-12,24893.82,29923.29,29250.52,28171.02,29657.51,28030.84,27401.05,36162.30,24214.47,...,18816.13,27409.57,25176.97,20031.39,20166.64,25623.70,1985,12,12,Q4
28,1986-03,25286.77,30544.08,29844.92,28595.38,29916.31,28678.33,27419.67,37139.36,24651.49,...,19227.31,27544.61,25111.79,20749.68,20496.50,26043.76,1986,03,03,Q1
29,1986-06,25669.88,31165.14,30422.71,29063.13,29995.28,29051.64,27301.21,38014.20,25082.58,...,19590.00,27752.69,24733.11,21450.79,20833.45,26476.09,1986,06,06,Q2
30,1986-09,26001.75,31825.38,30978.42,29555.51,29995.27,29457.61,27204.83,38846.12,25484.37,...,19953.70,28051.51,24351.01,21676.94,20940.30,26920.38,1986,09,09,Q3
31,1986-12,26265.34,32424.83,31455.41,30073.83,29936.16,29714.45,27155.30,39638.17,25809.04,...,20258.93,28311.20,24113.36,21375.45,20800.67,27351.26,1986,12,12,Q4
32,1987-03,26569.60,33117.27,32025.05,30616.04,30134.85,30256.12,27322.27,40559.18,26232.75,...,20591.79,28603.60,24066.57,20991.19,20696.77,27770.17,1987,03,03,Q1
33,1987-06,26910.13,33776.37,32634.48,31136.15,30383.20,31014.65,27551.67,41442.79,26694.21,...,20885.06,28950.55,24371.49,20589.69,20598.70,28236.10,1987,06,06,Q2
34,1987-09,27213.02,34316.56,33185.84,31657.13,30658.66,31767.30,27902.63,42128.09,27150.10,...,21098.99,29325.87,24720.19,20907.71,21010.18,28633.27,1987,09,09,Q3
35,1987-12,27481.43,34758.98,33694.81,32138.61,30729.93,32440.06,28170.60,42682.80,27496.94,...,21253.77,29773.08,25099.16,22254.75,22006.40,28962.26,1987,12,12,Q4
36,1988-03,27769.24,35542.84,34236.26,32767.07,30880.25,33083.88,28492.59,43317.42,27888.36,...,21404.82,30072.33,25067.62,23566.94,23009.85,29300.10,1988,03,03,Q1
37,1988-06,28053.96,36136.27,34857.09,33273.63,31094.52,33478.59,28887.15,43856.67,28205.11,...,21558.92,30395.90,25284.25,24890.21,24032.67,29789.23,1988,06,06,Q2
38,1988-09,28411.98,36674.40,35505.66,33815.29,31459.53,33843.02,29439.40,44468.03,28454.98,...,21573.76,30501.01,25551.54,25259.03,24505.30,30306.98,1988,09,09,Q3
39,1988-12,28889.20,37123.56,36124.99,34408.28,32024.16,34164.70,30196.75,45167.07,28627.27,...,21502.95,30623.05,26204.64,24854.48,24336.14,30881.18,1988,12,12,Q4
40,1989-03,29475.01,37818.46,36850.97,35162.36,32573.00,34957.26,30925.75,45954.34,29048.97,...,21455.29,30959.28,26891.58,24602.37,24425.72,31303.79,1989,03,03,Q1
41,1989-06,29977.60,38547.66,37378.23,35745.64,32954.43,35620.35,31506.41,46423.12,29361.63,...,21309.93,31190.80,27517.63,24318.01,24441.09,31639.44,1989,06,06,Q2
42,1989-09,30315.07,38893.13,37564.65,35985.25,33023.70,36154.52,31777.04,46607.86,29595.74,...,21186.03,31076.26,27942.70,24119.37,24511.28,31713.01,1989,09,09,Q3
43,1989-12,30456.32,38823.75,37507.90,35966.40,32880.51,36097.49,31829.99,46572.56,29612.92,...,21067.08,30657.66,27992.09,23950.02,24369.99,31623.76,1989,12,12,Q4
44,1990-03,30703.91,38933.73,37703.90,36168.78,33010.16,36228.52,32108.90,46741.27,29665.61,...,21059.28,30416.42,28206.23,23977.73,24419.83,31659.74,1990,03,03,Q1
45,1990-06,31018.24,39009.43,37975.53,36420.19,33201.88,36342.23,32480.64,46910.80,29667.62,...,21080.49,30392.71,28479.10,24051.22,24515.48,31695.77,1990,06,06,Q2
46,1990-09,31294.84,39504.59,38175.79,36886.51,33636.93,36619.74,33051.04,47188.56,29785.24,...,21370.50,30739.32,28836.33,24483.32,24835.11,31793.71,1990,09,09,Q3
47,1990-12,31392.28,39990.00,38390.29,37475.18,34015.22,36915.72,33521.44,47428.29,29946.27,...,21755.49,31178.94,29189.50,25102.66,25224.27,31773.94,1990,12,12,Q4
48,1991-03,31325.60,40080.54,38421.99,37699.96,34194.24,37096.00,33780.87,47628.75,30107.00,...,22117.81,31436.13,29407.72,25724.34,25578.25,31942.08,1991,03,03,Q1
49,1991-06,31257.09,40169.04,38430.79,37874.85,34277.30,37220.59,33958.62,47777.57,30253.14,...,22458.13,31618.61,29624.49,26336.80,25955.60,32122.01,1991,06,06,Q2

In [28]:
#Remove redundant columns
income_data = income_data.drop(['YearQtr', 'Qtr', 'Number'], axis=1)

In [29]:
income_data.head()

,United States,"New York, NY","Los Angeles-Long Beach-Anaheim, CA","Chicago, IL","Dallas-Fort Worth, TX","Philadelphia, PA","Houston, TX","Washington, DC","Miami-Fort Lauderdale, FL","Atlanta, GA",...,"Danville, IL","Great Falls, MT","Hinesville, GA","Columbus, IN","Casper, WY","Walla Walla, WA","Lewiston, ID","Carson City, NV",Year,Quarter
0,16346.86,17536.34,17913.83,20056.35,18147.33,17530.66,20209.30,22611.34,15673.84,17097.70,...,15719.82,15854.94,11142.75,18949.12,21962.63,15092.45,15389.83,18248.86,1979,Q1
1,16675.92,17888.75,18285.02,20460.12,18458.77,17869.90,20569.30,23095.61,15963.28,17419.05,...,16056.81,16024.79,11333.70,19301.27,22433.77,15513.87,15728.34,18481.70,1979,Q2
2,17015.62,18255.17,18746.27,20910.06,18899.16,18248.18,21125.56,23441.83,16269.95,17787.09,...,16391.74,16015.16,11663.90,19685.85,23114.04,15762.96,15828.83,18794.85,1979,Q3
3,17325.61,18614.93,19213.79,21267.37,19454.80,18589.76,21866.45,23673.91,16509.61,18160.24,...,16603.64,16305.12,12113.35,20079.76,23957.56,15738.86,15723.02,19178.59,1979,Q4
4,17700.06,19075.72,19782.36,21678.20,20069.21,19067.80,22677.02,24067.25,16908.27,18627.02,...,16822.21,16972.48,12588.44,20543.30,24835.12,15757.61,15740.12,19723.67,1980,Q1

In [30]:
#Rearrange columns: first find column list, then rearrange, then recreate df
cols = income_data.columns.tolist()
cols

['United States',
 'New York, NY',
 'Los Angeles-Long Beach-Anaheim, CA',
 'Chicago, IL',
 'Dallas-Fort Worth, TX',
 'Philadelphia, PA',
 'Houston, TX',
 'Washington, DC',
 'Miami-Fort Lauderdale, FL',
 'Atlanta, GA',
 'Boston, MA',
 'San Francisco, CA',
 'Detroit, MI',
 'Riverside, CA',
 'Phoenix, AZ',
 'Seattle, WA',
 'Minneapolis-St Paul, MN',
 'San Diego, CA',
 'St. Louis, MO',
 'Tampa, FL',
 'Baltimore, MD',
 'Denver, CO',
 'Pittsburgh, PA',
 'Portland, OR',
 'Charlotte, NC',
 'Sacramento, CA',
 'San Antonio, TX',
 'Orlando, FL',
 'Cincinnati, OH',
 'Cleveland, OH',
 'Kansas City, MO',
 'Las Vegas, NV',
 'Columbus, OH',
 'Indianapolis, IN',
 'San Jose, CA',
 'Austin, TX',
 'Virginia Beach, VA',
 'Nashville, TN',
 'Providence, RI',
 'Milwaukee, WI',
 'Jacksonville, FL',
 'Memphis, TN',
 'Oklahoma City, OK',
 'Louisville-Jefferson County, KY',
 'Hartford, CT',
 'Richmond, VA',
 'New Orleans, LA',
 'Buffalo, NY',
 'Raleigh, NC',
 'Birmingham, AL',
 'Salt Lake City, UT',
 'Rochester, NY',
 'Grand Rapids, MI',
 'Tucson, AZ',
 'Urban Honolulu, HI',
 'Tulsa, OK',
 'Fresno, CA',
 'Worcester, MA',
 'Stamford, CT',
 'Albuquerque, NM',
 'Albany, NY',
 'Omaha, NE',
 'New Haven, CT',
 'Bakersfield, CA',
 'Knoxville, TN',
 'Greenville, SC',
 'Ventura, CA',
 'Allentown, PA',
 'El Paso, TX',
 'Baton Rouge, LA',
 'Dayton, OH',
 'McAllen, TX',
 'Columbia, SC',
 'Greensboro, NC',
 'Akron, OH',
 'North Port-Sarasota-Bradenton, FL',
 'Little Rock, AR',
 'Stockton, CA',
 'Charleston, SC',
 'Syracuse, NY',
 'Colorado Springs, CO',
 'Winston-Salem, NC',
 'Wichita, KS',
 'Springfield, MA',
 'Fort Myers, FL',
 'Boise City, ID',
 'Toledo, OH',
 'Madison, WI',
 'Lakeland, FL',
 'Ogden, UT',
 'Daytona Beach, FL',
 'Des Moines, IA',
 'Jackson, MS',
 'Youngstown, OH',
 'Augusta, GA',
 'Scranton, PA',
 'Harrisburg, PA',
 'Melbourne, FL',
 'Chattanooga, TN',
 'Spokane, WA',
 'Provo, UT',
 'Lancaster, PA',
 'Modesto, CA',
 'Portland, ME',
 'Durham, NC',
 'Santa Rosa, CA',
 'Lexington, KY',
 'Lafayette, LA',
 'Lansing, MI',
 'Fayetteville, AR',
 'Pensacola, FL',
 'Visalia, CA',
 'Shreveport, LA',
 'Springfield, MO',
 'York, PA',
 'Corpus Christi, TX',
 'Flint, MI',
 'Reno, NV',
 'Asheville, NC',
 'Port St. Lucie, FL',
 'Santa Maria-Santa Barbara, CA',
 'Huntsville, AL',
 'Fort Wayne, IN',
 'Salinas, CA',
 'Vallejo, CA',
 'Mobile, AL',
 'Reading, PA',
 'Brownsville, TX',
 'Killeen, TX',
 'Canton, OH',
 'Beaumont, TX',
 'Manchester, NH',
 'Salem, OR',
 'Anchorage, AK',
 'Davenport, IL',
 'Peoria, IL',
 'Myrtle Beach, SC',
 'Montgomery, AL',
 'Salisbury, MD',
 'Gulfport, MS',
 'Tallahassee, FL',
 'Trenton, NJ',
 'Fayetteville, NC',
 'Hickory, NC',
 'Huntington, WV',
 'Eugene, OR',
 'Rockford, IL',
 'Savannah, GA',
 'Ann Arbor, MI',
 'Ocala, FL',
 'Kalamazoo, MI',
 'Naples, FL',
 'South Bend, IN',
 'Spartanburg, SC',
 'Evansville, IN',
 'Kingsport, TN',
 'Roanoke, VA',
 'Green Bay, WI',
 'Lincoln, NE',
 'Fort Collins, CO',
 'Utica, NY',
 'Columbus, GA',
 'Boulder, CO',
 'Lubbock, TX',
 'Erie, PA',
 'Fort Smith, AR',
 'Duluth, MN',
 'Atlantic City, NJ',
 'New London, CT',
 'San Luis Obispo, CA',
 'Gainesville, FL',
 'Santa Cruz, CA',
 'Clarksville, TN',
 'Cedar Rapids, IA',
 'Merced, CA',
 'Wilmington, NC',
 'Kennewick, WA',
 'Greeley, CO',
 'Waco, TX',
 'Lynchburg, VA',
 'Olympia, WA',
 'Amarillo, TX',
 'Binghamton, NY',
 'Hagerstown, WV',
 'Bremerton, WA',
 'Laredo, TX',
 'Yakima, WA',
 'Crestview-Fort Walton Beach-Destin, FL',
 'Topeka, KS',
 'Macon-Bibb County, GA',
 'Champaign-Urbana, IL',
 'Tuscaloosa, AL',
 'College Station, TX',
 'Sioux Falls, SD',
 'Charleston, WV',
 'Appleton, WI',
 'Chico, CA',
 'Charlottesville, VA',
 'Barnstable Town, MA',
 'Longview, TX',
 'Burlington, VT',
 'Prescott, AZ',
 'Springfield, IL',
 'Tyler, TX',
 'Las Cruces, NM',
 'Fargo, ND',
 'Houma, LA',
 'Rochester, MN',
 'Florence, SC',
 'Medford, OR',
 'Lafayette-West Lafayette, IN',
 'Bellingham, WA',
 'Lake Havasu City, AZ',
 'Saginaw, MI',
 'Lake Charles, LA',
 'Johnson City, TN',
 'Elkhart, IN',
 'Yuma, AZ',
 'Racine, WI',
 'Athens, GA',
 'St. Cloud, MN',
 'Hilton Head Island, SC',
 'Bloomington, IL',
 'Panama City, FL',
 'Kingston, NY',
 'Daphne, AL',
 'Gainesville, GA',
 'Warner Robins, GA',
 'Blacksburg, VA',
 'Jacksonville, NC',
 'Redding, CA',
 'Monroe, LA',
 'Joplin, MO',
 'El Centro, CA',
 'Terre Haute, IN',
 'Muskegon, MI',
 'East Stroudsburg, PA',
 'Sioux City, IA',
 'Greenville, NC',
 'Waterloo, IA',
 'Oshkosh, WI',
 'Yuba City, CA',
 'Abilene, TX',
 'Columbia, MO',
 'Dover, DE',
 'Eau Claire, WI',
 'Janesville, WI',
 'Jackson, MI',
 'Punta Gorda, FL',
 'Bloomington, IN',
 'Pueblo, CO',
 'Billings, MT',
 'Bowling Green, KY',
 'Bend, OR',
 'Albany, GA',
 'Vineland, NJ',
 'Niles, MI',
 'Kahului, HI',
 'State College, PA',
 'Bangor, ME',
 'Alexandria, LA',
 'Decatur, AL',
 'Hanford, CA',
 'Iowa City, IA',
 'Rocky Mount, NC',
 'Monroe, MI',
 'Wichita Falls, TX',
 'Burlington, NC',
 'Madera, CA',
 'Jefferson City, MO',
 'Chambersburg, PA',
 'Texarkana, TX',
 'Elizabethtown, KY',
 'Wheeling, OH',
 'Florence, AL',
 'Grand Junction, CO',
 'Dothan, AL',
 'Santa Fe, NM',
 'Johnstown, PA',
 'Hattiesburg, MS',
 'Dalton, GA',
 'Midland, TX',
 'Homosassa Springs, FL',
 'Auburn, AL',
 'Valdosta, GA',
 "Coeur d'Alene, ID",
 'Springfield, OH',
 'St. George, UT',
 'Vero Beach, FL',
 'Odessa, TX',
 'Napa, CA',
 'Battle Creek, MI',
 'Rapid City, SD',
 'Flagstaff, AZ',
 'Wausau, WI',
 'La Crosse, WI',
 'Lebanon, PA',
 'Idaho Falls, ID',
 'Sierra Vista, AZ',
 'Pittsfield, MA',
 'Lawton, OK',
 'Farmington, NM',
 'Jackson, TN',
 'Morgantown, WV',
 'Glens Falls, NY',
 'Winchester, VA',
 'St. Joseph, MO',
 'Altoona, PA',
 'New Bern, NC',
 'Carbondale, IL',
 'Logan, ID',
 'Harrisonburg, VA',
 'Beckley, WV',
 'Mansfield, OH',
 'Weirton, OH',
 'Goldsboro, NC',
 'Hammond, LA',
 'Jonesboro, AR',
 'Sherman, TX',
 'Anniston, AL',
 'Staunton, VA',
 'Muncie, IN',
 'Mount Vernon, WA',
 'Albany, OR',
 'Watertown, NY',
 'Williamsport, PA',
 'Cleveland, TN',
 'Sheboygan, WI',
 'Bismarck, ND',
 'Owensboro, KY',
 'Morristown, TN',
 'Kankakee, IL',
 'Brunswick, GA',
 'San Angelo, TX',
 'Michigan City, IN',
 'Wenatchee, WA',
 'Lawrence, KS',
 'Decatur, IL',
 'Missoula, MT',
 'Bay City, MI',
 'Lewiston, ME',
 'Sumter, SC',
 'Lima, OH',
 'California-Lexington Park, MD',
 'Gadsden, AL',
 'Cumberland, MD',
 'Longview, WA',
 'Fond du Lac, WI',
 'Ithaca, NY',
 'Gettysburg, PA',
 'Pine Bluff, AR',
 'Sebring, FL',
 'Grand Forks, ND',
 'Fairbanks, AK',
 'Ocean City, NJ',
 'Mankato, MN',
 'Rome, GA',
 'Cape Girardeau, MO',
 'Hot Springs, AR',
 'Victoria, TX',
 'Dubuque, IA',
 'The Villages, FL',
 'Manhattan, KS',
 'Parkersburg, WV',
 'Cheyenne, WY',
 'Ames, IA',
 'Elmira, NY',
 'Corvallis, OR',
 'Bloomsburg, PA',
 'Midland, MI',
 'Pocatello, ID',
 'Kokomo, IN',
 'Grants Pass, OR',
 'Grand Island, NE',
 'Danville, IL',
 'Great Falls, MT',
 'Hinesville, GA',
 'Columbus, IN',
 'Casper, WY',
 'Walla Walla, WA',
 'Lewiston, ID',
 'Carson City, NV',
 'Year',
 'Quarter']

In [31]:
cols = cols[-2:] + cols[:-2]
cols

['Year',
 'Quarter',
 'United States',
 'New York, NY',
 'Los Angeles-Long Beach-Anaheim, CA',
 'Chicago, IL',
 'Dallas-Fort Worth, TX',
 'Philadelphia, PA',
 'Houston, TX',
 'Washington, DC',
 'Miami-Fort Lauderdale, FL',
 'Atlanta, GA',
 'Boston, MA',
 'San Francisco, CA',
 'Detroit, MI',
 'Riverside, CA',
 'Phoenix, AZ',
 'Seattle, WA',
 'Minneapolis-St Paul, MN',
 'San Diego, CA',
 'St. Louis, MO',
 'Tampa, FL',
 'Baltimore, MD',
 'Denver, CO',
 'Pittsburgh, PA',
 'Portland, OR',
 'Charlotte, NC',
 'Sacramento, CA',
 'San Antonio, TX',
 'Orlando, FL',
 'Cincinnati, OH',
 'Cleveland, OH',
 'Kansas City, MO',
 'Las Vegas, NV',
 'Columbus, OH',
 'Indianapolis, IN',
 'San Jose, CA',
 'Austin, TX',
 'Virginia Beach, VA',
 'Nashville, TN',
 'Providence, RI',
 'Milwaukee, WI',
 'Jacksonville, FL',
 'Memphis, TN',
 'Oklahoma City, OK',
 'Louisville-Jefferson County, KY',
 'Hartford, CT',
 'Richmond, VA',
 'New Orleans, LA',
 'Buffalo, NY',
 'Raleigh, NC',
 'Birmingham, AL',
 'Salt Lake City, UT',
 'Rochester, NY',
 'Grand Rapids, MI',
 'Tucson, AZ',
 'Urban Honolulu, HI',
 'Tulsa, OK',
 'Fresno, CA',
 'Worcester, MA',
 'Stamford, CT',
 'Albuquerque, NM',
 'Albany, NY',
 'Omaha, NE',
 'New Haven, CT',
 'Bakersfield, CA',
 'Knoxville, TN',
 'Greenville, SC',
 'Ventura, CA',
 'Allentown, PA',
 'El Paso, TX',
 'Baton Rouge, LA',
 'Dayton, OH',
 'McAllen, TX',
 'Columbia, SC',
 'Greensboro, NC',
 'Akron, OH',
 'North Port-Sarasota-Bradenton, FL',
 'Little Rock, AR',
 'Stockton, CA',
 'Charleston, SC',
 'Syracuse, NY',
 'Colorado Springs, CO',
 'Winston-Salem, NC',
 'Wichita, KS',
 'Springfield, MA',
 'Fort Myers, FL',
 'Boise City, ID',
 'Toledo, OH',
 'Madison, WI',
 'Lakeland, FL',
 'Ogden, UT',
 'Daytona Beach, FL',
 'Des Moines, IA',
 'Jackson, MS',
 'Youngstown, OH',
 'Augusta, GA',
 'Scranton, PA',
 'Harrisburg, PA',
 'Melbourne, FL',
 'Chattanooga, TN',
 'Spokane, WA',
 'Provo, UT',
 'Lancaster, PA',
 'Modesto, CA',
 'Portland, ME',
 'Durham, NC',
 'Santa Rosa, CA',
 'Lexington, KY',
 'Lafayette, LA',
 'Lansing, MI',
 'Fayetteville, AR',
 'Pensacola, FL',
 'Visalia, CA',
 'Shreveport, LA',
 'Springfield, MO',
 'York, PA',
 'Corpus Christi, TX',
 'Flint, MI',
 'Reno, NV',
 'Asheville, NC',
 'Port St. Lucie, FL',
 'Santa Maria-Santa Barbara, CA',
 'Huntsville, AL',
 'Fort Wayne, IN',
 'Salinas, CA',
 'Vallejo, CA',
 'Mobile, AL',
 'Reading, PA',
 'Brownsville, TX',
 'Killeen, TX',
 'Canton, OH',
 'Beaumont, TX',
 'Manchester, NH',
 'Salem, OR',
 'Anchorage, AK',
 'Davenport, IL',
 'Peoria, IL',
 'Myrtle Beach, SC',
 'Montgomery, AL',
 'Salisbury, MD',
 'Gulfport, MS',
 'Tallahassee, FL',
 'Trenton, NJ',
 'Fayetteville, NC',
 'Hickory, NC',
 'Huntington, WV',
 'Eugene, OR',
 'Rockford, IL',
 'Savannah, GA',
 'Ann Arbor, MI',
 'Ocala, FL',
 'Kalamazoo, MI',
 'Naples, FL',
 'South Bend, IN',
 'Spartanburg, SC',
 'Evansville, IN',
 'Kingsport, TN',
 'Roanoke, VA',
 'Green Bay, WI',
 'Lincoln, NE',
 'Fort Collins, CO',
 'Utica, NY',
 'Columbus, GA',
 'Boulder, CO',
 'Lubbock, TX',
 'Erie, PA',
 'Fort Smith, AR',
 'Duluth, MN',
 'Atlantic City, NJ',
 'New London, CT',
 'San Luis Obispo, CA',
 'Gainesville, FL',
 'Santa Cruz, CA',
 'Clarksville, TN',
 'Cedar Rapids, IA',
 'Merced, CA',
 'Wilmington, NC',
 'Kennewick, WA',
 'Greeley, CO',
 'Waco, TX',
 'Lynchburg, VA',
 'Olympia, WA',
 'Amarillo, TX',
 'Binghamton, NY',
 'Hagerstown, WV',
 'Bremerton, WA',
 'Laredo, TX',
 'Yakima, WA',
 'Crestview-Fort Walton Beach-Destin, FL',
 'Topeka, KS',
 'Macon-Bibb County, GA',
 'Champaign-Urbana, IL',
 'Tuscaloosa, AL',
 'College Station, TX',
 'Sioux Falls, SD',
 'Charleston, WV',
 'Appleton, WI',
 'Chico, CA',
 'Charlottesville, VA',
 'Barnstable Town, MA',
 'Longview, TX',
 'Burlington, VT',
 'Prescott, AZ',
 'Springfield, IL',
 'Tyler, TX',
 'Las Cruces, NM',
 'Fargo, ND',
 'Houma, LA',
 'Rochester, MN',
 'Florence, SC',
 'Medford, OR',
 'Lafayette-West Lafayette, IN',
 'Bellingham, WA',
 'Lake Havasu City, AZ',
 'Saginaw, MI',
 'Lake Charles, LA',
 'Johnson City, TN',
 'Elkhart, IN',
 'Yuma, AZ',
 'Racine, WI',
 'Athens, GA',
 'St. Cloud, MN',
 'Hilton Head Island, SC',
 'Bloomington, IL',
 'Panama City, FL',
 'Kingston, NY',
 'Daphne, AL',
 'Gainesville, GA',
 'Warner Robins, GA',
 'Blacksburg, VA',
 'Jacksonville, NC',
 'Redding, CA',
 'Monroe, LA',
 'Joplin, MO',
 'El Centro, CA',
 'Terre Haute, IN',
 'Muskegon, MI',
 'East Stroudsburg, PA',
 'Sioux City, IA',
 'Greenville, NC',
 'Waterloo, IA',
 'Oshkosh, WI',
 'Yuba City, CA',
 'Abilene, TX',
 'Columbia, MO',
 'Dover, DE',
 'Eau Claire, WI',
 'Janesville, WI',
 'Jackson, MI',
 'Punta Gorda, FL',
 'Bloomington, IN',
 'Pueblo, CO',
 'Billings, MT',
 'Bowling Green, KY',
 'Bend, OR',
 'Albany, GA',
 'Vineland, NJ',
 'Niles, MI',
 'Kahului, HI',
 'State College, PA',
 'Bangor, ME',
 'Alexandria, LA',
 'Decatur, AL',
 'Hanford, CA',
 'Iowa City, IA',
 'Rocky Mount, NC',
 'Monroe, MI',
 'Wichita Falls, TX',
 'Burlington, NC',
 'Madera, CA',
 'Jefferson City, MO',
 'Chambersburg, PA',
 'Texarkana, TX',
 'Elizabethtown, KY',
 'Wheeling, OH',
 'Florence, AL',
 'Grand Junction, CO',
 'Dothan, AL',
 'Santa Fe, NM',
 'Johnstown, PA',
 'Hattiesburg, MS',
 'Dalton, GA',
 'Midland, TX',
 'Homosassa Springs, FL',
 'Auburn, AL',
 'Valdosta, GA',
 "Coeur d'Alene, ID",
 'Springfield, OH',
 'St. George, UT',
 'Vero Beach, FL',
 'Odessa, TX',
 'Napa, CA',
 'Battle Creek, MI',
 'Rapid City, SD',
 'Flagstaff, AZ',
 'Wausau, WI',
 'La Crosse, WI',
 'Lebanon, PA',
 'Idaho Falls, ID',
 'Sierra Vista, AZ',
 'Pittsfield, MA',
 'Lawton, OK',
 'Farmington, NM',
 'Jackson, TN',
 'Morgantown, WV',
 'Glens Falls, NY',
 'Winchester, VA',
 'St. Joseph, MO',
 'Altoona, PA',
 'New Bern, NC',
 'Carbondale, IL',
 'Logan, ID',
 'Harrisonburg, VA',
 'Beckley, WV',
 'Mansfield, OH',
 'Weirton, OH',
 'Goldsboro, NC',
 'Hammond, LA',
 'Jonesboro, AR',
 'Sherman, TX',
 'Anniston, AL',
 'Staunton, VA',
 'Muncie, IN',
 'Mount Vernon, WA',
 'Albany, OR',
 'Watertown, NY',
 'Williamsport, PA',
 'Cleveland, TN',
 'Sheboygan, WI',
 'Bismarck, ND',
 'Owensboro, KY',
 'Morristown, TN',
 'Kankakee, IL',
 'Brunswick, GA',
 'San Angelo, TX',
 'Michigan City, IN',
 'Wenatchee, WA',
 'Lawrence, KS',
 'Decatur, IL',
 'Missoula, MT',
 'Bay City, MI',
 'Lewiston, ME',
 'Sumter, SC',
 'Lima, OH',
 'California-Lexington Park, MD',
 'Gadsden, AL',
 'Cumberland, MD',
 'Longview, WA',
 'Fond du Lac, WI',
 'Ithaca, NY',
 'Gettysburg, PA',
 'Pine Bluff, AR',
 'Sebring, FL',
 'Grand Forks, ND',
 'Fairbanks, AK',
 'Ocean City, NJ',
 'Mankato, MN',
 'Rome, GA',
 'Cape Girardeau, MO',
 'Hot Springs, AR',
 'Victoria, TX',
 'Dubuque, IA',
 'The Villages, FL',
 'Manhattan, KS',
 'Parkersburg, WV',
 'Cheyenne, WY',
 'Ames, IA',
 'Elmira, NY',
 'Corvallis, OR',
 'Bloomsburg, PA',
 'Midland, MI',
 'Pocatello, ID',
 'Kokomo, IN',
 'Grants Pass, OR',
 'Grand Island, NE',
 'Danville, IL',
 'Great Falls, MT',
 'Hinesville, GA',
 'Columbus, IN',
 'Casper, WY',
 'Walla Walla, WA',
 'Lewiston, ID',
 'Carson City, NV']

In [32]:
# Organized df with Year and Qtr columns first
income_data = income_data[cols]
income_data

,Year,Quarter,United States,"New York, NY","Los Angeles-Long Beach-Anaheim, CA","Chicago, IL","Dallas-Fort Worth, TX","Philadelphia, PA","Houston, TX","Washington, DC",...,"Grants Pass, OR","Grand Island, NE","Danville, IL","Great Falls, MT","Hinesville, GA","Columbus, IN","Casper, WY","Walla Walla, WA","Lewiston, ID","Carson City, NV"
0,1979,Q1,16346.860000,17536.340000,17913.830000,20056.350000,18147.330000,17530.660000,20209.300000,22611.340000,...,12689.420000,15623.140000,15719.820000,15854.940000,11142.750000,18949.120000,21962.630000,15092.450000,15389.83000,18248.860000
1,1979,Q2,16675.920000,17888.750000,18285.020000,20460.120000,18458.770000,17869.900000,20569.300000,23095.610000,...,13003.880000,16037.150000,16056.810000,16024.790000,11333.700000,19301.270000,22433.770000,15513.870000,15728.34000,18481.700000
2,1979,Q3,17015.620000,18255.170000,18746.270000,20910.060000,18899.160000,18248.180000,21125.560000,23441.830000,...,13234.730000,16226.530000,16391.740000,16015.160000,11663.900000,19685.850000,23114.040000,15762.960000,15828.83000,18794.850000
3,1979,Q4,17325.610000,18614.930000,19213.790000,21267.370000,19454.800000,18589.760000,21866.450000,23673.910000,...,13371.970000,16610.360000,16603.640000,16305.120000,12113.350000,20079.760000,23957.560000,15738.860000,15723.02000,19178.590000
4,1980,Q1,17700.060000,19075.720000,19782.360000,21678.200000,20069.210000,19067.800000,22677.020000,24067.250000,...,13520.850000,16841.630000,16822.210000,16972.480000,12588.440000,20543.300000,24835.120000,15757.610000,15740.12000,19723.670000
5,1980,Q2,18003.370000,19493.980000,20306.080000,21848.900000,20608.070000,19428.490000,23398.850000,24372.230000,...,13576.890000,16869.120000,16882.920000,17310.950000,13046.290000,20846.300000,25601.920000,15722.600000,15625.26000,20143.510000
6,1980,Q3,18309.930000,19894.970000,20737.440000,21984.030000,21021.310000,19742.030000,23957.780000,24646.770000,...,13600.830000,16639.220000,16937.250000,17185.090000,13362.090000,20902.870000,26235.900000,16012.590000,15815.78000,20470.610000
7,1980,Q4,18655.450000,20320.320000,21091.910000,22067.130000,21363.170000,20054.820000,24414.050000,24997.880000,...,13617.310000,16337.210000,16963.580000,17242.270000,13594.820000,20808.850000,26815.410000,16634.880000,16313.63000,20605.790000
8,1981,Q1,19069.980000,20744.950000,21468.440000,22395.990000,21890.500000,20449.590000,25074.810000,25485.860000,...,13679.070000,16463.910000,17172.790000,17587.390000,13886.200000,20889.680000,27317.390000,17220.390000,16845.15000,20869.730000
9,1981,Q2,19406.030000,21122.720000,21765.040000,22598.730000,22279.250000,20759.860000,25583.850000,25835.850000,...,13656.420000,16454.820000,17302.740000,17896.530000,14138.440000,20803.880000,27553.820000,17750.920000,17226.27000,21054.240000
10,1981,Q3,19799.970000,21558.150000,22166.950000,22927.600000,22798.040000,21121.830000,26096.550000,26363.630000,...,13762.350000,16807.120000,17539.850000,18166.840000,14454.120000,20933.100000,27629.750000,18048.000000,17541.78000,21344.440000
11,1981,Q4,20170.180000,22022.970000,22582.740000,23205.310000,23338.370000,21468.370000,26476.120000,26843.540000,...,13965.990000,17273.250000,17739.930000,18590.660000,14738.780000,21222.720000,27727.520000,18079.410000,17781.78000,21668.840000
12,1982,Q1,20502.310000,22477.920000,22992.000000,23395.250000,23839.420000,21832.200000,26805.280000,27494.290000,...,14160.500000,17693.420000,17858.050000,18687.370000,15031.940000,21485.430000,27665.840000,18063.500000,17986.58000,21917.640000
13,1982,Q2,20700.730000,22789.320000,23190.230000,23494.670000,24047.310000,22045.810000,26812.610000,28009.100000,...,14280.490000,18089.590000,17920.080000,18711.570000,15234.860000,21640.250000,27396.970000,17924.930000,18106.35000,22006.700000
14,1982,Q3,20881.750000,23220.660000,23452.380000,23725.000000,24270.290000,22420.070000,26725.370000,28619.490000,...,14411.660000,18269.550000,18103.510000,18608.610000,15472.530000,21988.620000,27049.710000,17905.100000,18126.76000,22098.100000
15,1982,Q4,21040.410000,23734.200000,23705.820000,24151.560000,24708.350000,22866.830000,26756.500000,29143.680000,...,14534.420000,18539.410000,18468.540000,19408.870000,15713.650000,22534.300000,26835.800000,17992.260000,18000.84000,22145.260000
16,1983,Q1,21193.800000,24248.750000,24117.490000,24435.350000,25201.780000,23316.240000,26851.950000,29637.230000,...,14716.350000,18463.000000,18704.050000,19589.820000,15967.660000,23020.830000,26535.470000,18167.930000,18071.75000,22252.080000
17,1983,Q2,21375.660000,24737.600000,24585.770000,24714.860000,25762.160000,23618.590000,27015.830000,30067.590000,...,14953.570000,18498.200000,18944.380000,19807.260000,16303.740000,23559.980000,26307.570000,18354.620000,18092.23000,22435.880000
18,1983,Q3,21630.270000,25165.920000,25030.310000,24885.120000,26216.090000,23910.140000,27043.830000,30473.150000,...,15168.400000,18532.210000,19074.190000,19302.400000,16564.530000,23970.850000,26101.930000,18795.460000,18473.64000,22654.450000
19,1983,Q4,22021.070000,25623.990000,25389.370000,25078.730000,26663.050000,24243.110000,27045.440000,30930.280000,...,15403.150000,18985.040000,19198.240000,19433.740000,16743.740000,24347.200000,25843.410000,19588.400000,19261.08000,23001.790000
20,1984,Q1,22488.880000,26116.080000,25864.120000,25442.900000,27126.970000,24857.090000,27048.920000,31596.240000,...,15628.590000,19641.430000,19436.090000,19579.950000,16991.110000,24924.700000,25596.200000,20370.490000,20090.59000,23288.360000
21,1984,Q2,22990.990000,26666.660000,26337.420000,25870.310000,27664.870000,25408.600000,27147.820000,32220.290000,...,15867.080000,20470.350000,19743.520000,19878.320000,17252.410000,25484.320000,25450.130000,21187.880000,21053.98000,23629.020000
22,1984,Q3,23432.670000,27269.790000,26881.190000,26378.720000,28132.570000,25793.780000,27244.700000,32959.040000,...,16067.630000,21028.150000,20096.990000,20154.490000,17548.950000,25999.330000,25407.450000,21251.600000,21315.82000,23915.460000
23,1984,Q4,23771.430000,27970.760000,27419.670000,26896.370000,28570.680000,25994.730000,27381.780000,33637.690000,...,16233.300000,21091.860000,20441.520000,20439.750000,17837.100000,26401.670000,25604.220000,20592.700000,20888.66000,24239.990000
24,1985,Q1,24066.180000,28541.660000,27979.610000,27309.910000,28922.350000,26437.820000,27414.990000,34361.550000,...,16378.650000,21129.360000,20671.100000,20528.740000,18077.450000,26801.440000,25534.000000,19993.440000,20469.81000,24614.260000
25,1985,Q2,24283.440000,28989.640000,28356.130000,27572.400000,29134.070000,26997.370000,27342.500000,34822.460000,...,16463.930000,20956.390000,20806.330000,20432.020000,18265.440000,27192.070000,25392.300000,19365.870000,19977.96000,24924.460000
26,1985,Q3,24553.000000,29415.560000,28777.790000,27837.850000,29357.440000,27677.920000,27317.390000,35408.990000,...,16561.930000,20714.710000,20905.370000,20301.060000,18505.810000,27409.490000,25196.040000,19384.590000,19855.16000,25292.990000
27,1985,Q4,24893.820000,29923.290000,29250.520000,28171.020000,29657.510000,28030.840000,27401.050000,36162.300000,...,16697.890000,20511.610000,21020.810000,20248.030000,18816.130000,27409.570000,25176.970000,20031.390000,20166.64000,25623.700000
28,1986,Q1,25286.770000,30544.080000,29844.920000,28595.380000,29916.310000,28678.330000,27419.670000,37139.360000,...,16896.720000,20394.310000,21172.690000,20431.910000,19227.310000,27544.610000,25111.790000,20749.680000,20496.50000,26043.760000
29,1986,Q2,25669.880000,31165.140000,30422.710000,29063.130000,29995.280000,29051.640000,27301.210000,38014.200000,...,17117.780000,20446.090000,21384.990000,20621.710000,19590.000000,27752.690000,24733.110000,21450.790000,20833.45000,26476.090000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,2011,Q3,50594.090000,64635.040000,56873.990000,57918.870000,56200.750000,58872.840000,55698.440000,88199.870000,...,36901.110000,49198.720000,39654.590000,42367.110000,41170.090000,51570.360000,53013.670000,44776.990000,42355.26000,47775.680000
131,2011,Q4,50570.770000,64249.800000,56555.110000,57888.070000,56073.280000,58943.670000,55553.470000,88350.810000,...,36814.550000,49145.430000,39938.150000,42297.710000,41523.870000,52040.250000,53166.280000,44475.320000,42642.25000,47428.870000
132,2012,Q1,50815.670000,64396.230000,56829.140000,58273.680000,56431.360000,59110.090000,55891.440000,88766.740000,...,37027.770000,49061.360000,40524.000000,42560.820000,41789.960000,52525.520000,53825.620000,44735.420000,43280.19000,47328.380000
133,2012,Q2,51099.870000,64751.960000,57144.080000,58758.940000,56692.070000,59300.530000,56132.040000,89000.280000,...,37310.560000,49045.000000,41190.090000,42743.050000,42048.470000,52959.260000,54589.340000,45123.330000,43997.00000,47329.020000
134,2012,Q3,51421.410000,65217.350000,57632.700000,59195.850000,57085.090000,59670.230000,56541.790000,89423.440000,...,37483.070000,48903.980000,41498.820000,42875.610000,42193.160000,53272.550000,55134.230000,45426.460000,44432.56000,47167.290000
135,2012,Q4,52147.060000,66125.470000,58787.370000,59895.360000,57830.700000,60464.340000,57341.180000,90461.970000,...,37659.280000,49479.290000,41651.540000,43221.070000,42748.310000,53759.130000,56464.970000,45870.940000,44847.00000,47196.280000
136,2013,Q1,52179.770000,66087.020000,58776.340000,60122.360000,57936.830000,60630.250000,57515.560000,90491.360000,...,37520.890000,49666.420000,41480.750000,43066.660000,42843.060000,53796.970000,56529.480000,45639.870000,44710.73000,46523.090000
137,2013,Q2,52411.950000,66396.690000,59113.910000,60633.150000,58359.530000,60993.980000,57994.520000,90564.130000,...,37524.080000,50108.080000,41525.880000,43028.930000,43140.000000,53799.130000,56995.720000,45537.230000,44757.19000,46074.410000
138,2013,Q3,52095.690000,65954.700000,58548.200000,60502.130000,58009.840000,60853.300000,57752.880000,89800.620000,...,37540.150000,49862.330000,41374.900000,42707.750000,42369.010000,53476.270000,56176.050000,45175.840000,44791.22000,44936.100000
139,2013,Q4,52312.600000,66198.360000,59097.550000,60639.310000,58014.750000,61200.130000,57912.200000,89911.920000,...,38005.720000,49450.660000,41680.730000,42938.090000,41346.870000,53349.880000,55970.440000,45382.350000,45634.76000,44250.980000
140,2014,Q1,52743.340000,66509.810000,59674.080000,61011.980000,58492.860000,61682.280000,58545.620000,90421.650000,...,38671.970000,49613.680000,42143.860000,43328.780000,40576.770000,53489.290000,56255.720000,45977.340000,46593.44000,43768.870000
141,2014,Q2,53328.940000,66937.990000,60412.120000,61530.010000,59049.220000,62360.920000,59253.810000,91370.140000,...,39493.360000,50251.890000,42696.730000,43990.300000,39995.830000,53955.410000,56809.250000,46638.850000,47692.40000,43441.270000
142,2014,Q3,54015.650000,67471.230000,61046.650000,62088.400000,59935.770000,62986.970000,60126.140000,92123.400000,...,39952.720000,50992.540000,43014.870000,44417.780000,40123.790000,54607.740000,57457.900000,47752.140000,48305.27000,43685.680000
143,2014,Q4,54540.070000,67874.610000,61436.870000,62456.040000,60618.500000,63337.940000,60612.310000,92266.200000,...,39732.330000,51380.870000,42921.520000,44377.810000,40777.630000,55167.050000,57833.490000,48827.860000,48193.05000,44504.180000
144,2015,Q1,55010.770000,68243.810000,61900.010000,62767.790000,61137.310000,63674.720000,60927.330000,92518.660000,...,39605.430000,51353.510000,42794.940000,44322.830000,41429.850000,55473.610000,57849.980000,49826.230000,48076.96000,45416.690000
145,2015,Q2,55456.900000,68750.330000,62437.360000,63113.810000,61248.700000,64032.900000,60847.130000,92855.430000,...,39448.080000,51504.050000,42711.310000,44264.720000,42046.570000,55760.090000,57580.270000,50774.980000,47933.26000,46385.880000
146,2015,Q3,56026.510000,69559.020000,63322.840000,63800.450000,61751.240000,64632.420000,61076.870000,93719.880000,...,39852.930000,52256.870000,42930.340000,44666.270000,42606.070000,56198.720000,57869.010000,51422.550000,48483.33000,47524.410000
147,2015,Q4,56605.810000,70388.880000,64352.020000,64679.860000,62510.440000,65380.320000,61474.680000,94679.980000,...,40504.060000,53622.130000,43335.290000,45215.350000,42958.090000,56980.210000,58470.640000,51541.790000,49553.21000,48830.990000
148,2016,Q1,57017.050000,71139.930000,65089.180000,65261.030000,63343.450000,65905.900000,61957.170000,95301.860000,...,41197.350000,54510.770000,43517.810000,45686.860000,43301.420000,57629.490000,58929.030000,51666.590000,50565.01000,49724.640000
149,2016,Q2,57324.210000,71694.190000,65695.430000,65614.910000,63987.570000,66343.040000,62239.360000,95893.430000,...,41678.500000,55192.050000,43548.810000,46067.040000,43485.820000,58344.510000,59103.860000,51738.400000,51473.99000,50601.610000
150,2016,Q3,57766.340000,72364.870000,66466.820000,65979.460000,64606.250000,66785.550000,62470.160000,96541.670000,...,42190.240000,55924.570000,43315.040000,46425.030000,44381.280000,59030.430000,59144.780000,52086.130000,52390.81000,51356.750000
151,2016,Q4,58360.400000,72812.680000,67400.600000,66579.670000,65180.460000,67220.340000,62633.110000,97337.810000,...,42663.720000,56936.930000,42959.630000,46740.860000,45922.100000,59804.530000,59004.070000,52633.970000,53198.41000,51622.530000
152,2017,Q1,59165.910000,73819.120000,68525.740000,67326.110000,66119.780000,67832.330000,63159.680000,98291.830000,...,43327.790000,58181.450000,42694.210000,47174.390000,47672.240000,60603.540000,59452.400000,53278.180000,54112.23000,52229.230000
153,2017,Q2,59959.390000,74936.310000,69658.590000,68089.220000,66969.370000,68361.580000,63590.930000,99239.910000,...,44117.800000,59743.100000,42462.090000,47627.010000,49394.720000,61283.240000,60165.670000,53923.350000,55120.84000,52534.590000
154,2017,Q3,60741.390000,75963.840000,70516.540000,68769.390000,67831.430000,68876.610000,64039.980000,100118.330000,...,44791.590000,60907.680000,42216.850000,47871.390000,50235.100000,61854.250000,60927.640000,54425.380000,55603.19000,53168.780000
155,2017,Q4,61477.310000,76753.930000,71268.430000,69427.310000,68607.560000,69216.880000,64417.410000,101025.800000,...,45466.830000,61639.500000,42006.840000,48179.200000,50138.270000,62390.970000,61638.290000,55000.970000,55615.27000,53510.820000
156,2018,Q1,61936.623236,77408.082812,71844.905261,69940.585833,69045.650070,69806.796591,64828.744081,101670.895085,...,45834.601574,62095.200584,42317.396405,48568.911362,50458.425362,62852.226198,62136.869095,55445.861217,56065.13016,53943.657709
157,2018,Q2,62395.936471,78062.235625,72421.380523,70453.861665,69483.740139,70396.713182,65240.078162,102315.990170,...,46202.373149,62550.901167,42627.952809,48958.622724,50778.580724,63313.482397,62635.448190,55890.752434,56514.99032,54376.495418
158,2018,Q3,62855.249707,78716.388438,72997.855784,70967.137498,69921.830209,70986.629773,65651.412243,102961.085255,...,46570.144723,63006.601751,42938.509214,49348.334086,51098.736086,63774.738595,63134.027286,56335.643651,56964.85048,54809.333126
159,2018,Q4,63314.562943,79370.541250,73574.331046,71480.413331,70359.920279,71576.546364,66062.746324,103606.180341,...,46937.916298,63462.302335,43249.065619,49738.045448,51418.891447,64235.994794,63632.606381,56780.534868,57414.71064,55242.170835

Now we do the tranposing and separating to the pti df

In [33]:
pti.describe()

,index,RegionID,SizeRank,HistoricAverage_1985thru1999,1979-03,1979-06,1979-09,1979-12,1980-03,1980-06,...,2016-09,2016-12,2017-03,2017-06,2017-09,2017-12,2018-03,2018-06,2018-09,2018-12
count,370.00000,370.000000,370.000000,208.000000,102.000000,112.000000,122.000000,127.000000,126.000000,128.000000,...,370.000000,370.000000,370.000000,370.000000,370.000000,370.000000,370.000000,370.000000,370.000000,370.000000
mean,184.50000,401742.972973,195.070270,2.711890,3.062694,3.107583,3.110520,3.102669,3.090519,3.059573,...,3.202486,3.231632,3.252624,3.273904,3.289188,3.306093,3.351524,3.386901,3.417588,3.456356
std,106.95404,54586.758478,122.513427,0.747161,0.681218,0.720530,0.726451,0.746350,0.758582,0.757340,...,1.282708,1.297437,1.304790,1.310177,1.315597,1.326680,1.354087,1.369169,1.374926,1.371738
min,0.00000,102001.000000,0.000000,1.394539,1.494261,1.535356,1.611391,1.626672,1.547194,1.537382,...,1.283619,1.293059,1.290162,1.268604,1.261793,1.288702,1.294976,1.304308,1.294875,1.334133
25%,92.25000,394531.250000,92.250000,2.254492,2.664154,2.673084,2.602155,2.598742,2.559139,2.586727,...,2.373552,2.402997,2.406304,2.428860,2.435601,2.450004,2.483608,2.505901,2.517198,2.545691
50%,184.50000,394771.000000,184.500000,2.591051,2.938343,2.996845,2.985558,2.973125,2.960303,2.946818,...,2.890529,2.901130,2.892676,2.909188,2.911176,2.895304,2.934259,2.969003,3.012085,3.045951
75%,276.75000,395021.250000,289.750000,3.048728,3.439354,3.501884,3.522286,3.534572,3.524095,3.433256,...,3.619118,3.667975,3.712947,3.755117,3.803021,3.833632,3.856949,3.863026,3.930462,4.000683
max,369.00000,753924.000000,552.000000,5.367640,4.926503,5.103076,5.078746,5.173311,5.361290,5.278691,...,9.759626,9.802021,9.820207,9.813742,9.909852,9.973271,10.086060,10.361000,10.340797,10.077972